// global 
img 
	padding 2em 0em

// navigation 

// landing
#landing
	margin-bottom 300px

// homepage
#blog-latest-widget 
	margin 1.3em 0em
	font-size 1.5em 

	.blog-latest-title
		font-size 2em
		margin-bottom 0.8em

	.blog-latest-posts 
		padding 0em 0em 1em

		li 
			list-style none	

	.blog-meta
		margin 1em 0em 

// blog 



// footer 
#footer 
	margin-top 2.2em
	padding 1.8em 0em 1.8em
	background-color #eee