// navigation 

// homepage
#blog-latest-widget 
	margin 20px 0px 
	padding 20px 
	border 10px solid #E2E0DB
	font-size 1.5em 

	.blog-latest-title
		font-size 2em
		margin-bottom 0.8em

	.blog-latest-posts 
		padding 0px 0px 20px

		li 
			list-style none	

// blog 



// footer 
#footer 
	margin-top 100px